/*		Default Layout: 960px. 
		Gutters: 24px.
		Outer margins: 48px.
		Leftover space for scrollbars @1024px: 32px.
-------------------------------------------------------------------------------
*/







/*		Tablet Layout: 768px.
		Gutters: 24px.
		Outer margins: 28px.
		Inherits styles from: Default Layout.
-----------------------------------------------------------------
cols    1     2      3      4      5      6      7      8
px      68    160    252    344    436    528    620    712    */

@media only screen and (min-width: 768px) and (max-width: 991px) {

	
	#projectsimg1 img{
    width: 100%;
    height: auto;
	}
	
	
	#projectsimg2 img{
    width: 100%;
    height: auto;
	}

	#projectsimg3 img{
    width: 100%;
    height: auto;
	}

	#projectsimg4 img{
    width: 100%;
    height: auto;
	}

	#projectsimg5 img{
    width: 100%;
    height: auto;
    margin-left: 0px;
	}

  .centered h5{
  	margin-top: 
  }


  .imagecontent img{
  	height:
  }
}













/*		Mobile Layout: 320px.
		Gutters: 24px.
		Outer margins: 34px.
		Inherits styles from: Default Layout.
---------------------------------------------
cols    1     2      3
px      68    160    252    */

@media only screen and (max-width: 767px) {

#projectsimg1 img{
    width: 100%;
    height: auto;
	}
	

	#projectsimg2 img{
    width: 100%;
    height: auto;
	}

	#projectsimg3 img{
    width: 100%;
    height: auto;
	}

	#projectsimg4 img{
    width: 100%;
    height: auto;
	}

	#projectsimg5 img{
    width: 100%;
    height: auto;
    margin-left: 0px;
	}


.centered h5{
  	margin-top: 200px;
  }
   .imagecontent img{
  	height:700px;
  }
	
}


#header-bt-img{
   margin-bottom: 80px;
    width: 100%;
  
    
}

#card-top{
 margin-top: 0px;
}


@-moz-document url-prefix() {

.business-plan i{
   margin-left: 0px;
}
.financial-sol i{
   margin-left: 0px;
}

.support i{

margin-left: 0px;
}

}

/*		Wide Mobile Layout: 480px.
		Gutters: 24px.
		Outer margins: 22px.
		Inherits styles from: Default Layout, Mobile Layout.
------------------------------------------------------------
cols    1     2      3      4      5
px      68    160    252    344    436    */

@media only screen and (min-width: 480px) and (max-width: 767px) {


	#projectsimg1 img{
    width: 100%;
    height: auto;
	}
	
	
	#projectsimg2 img{
    width: 100%;
    height: auto;
	}

	#projectsimg3 img{
    width: 100%;
    height: auto;
	}

	#projectsimg4 img{
    width: 100%;
    height: auto;
	}

	#projectsimg5 img{
    width: 100%;
    height: auto;
    margin-left: 0px;
	}
	
	.centered h5{
  	margin-top: 200px;
  }
	
	 .imagecontent img{
  	height:700px;
  }


  #header-bt-img{
   margin-bottom: 140px;
   width: 100%;
   margin-left:-60px;

}
#card-top{
 margin-top: 0px;
}
	
}


@-moz-document url-prefix() {

.business-plan i{
   margin-left: 23px;
}
.financial-sol i{
   margin-left: 31px;
}

.support i{

margin-left: 112px;
}

}


/*	Retina media query.
	Overrides styles for devices with a 
	device-pixel-ratio of 2+, such as iPhone 4.
-----------------------------------------------    */

@media 
	only screen and (-webkit-min-device-pixel-ratio: 2),
	only screen and (min-device-pixel-ratio: 2) {
	

 #header-bt-img{
   margin-bottom: 140px;
   width: 100%;
   margin-left:-60px;

}			
	
}



/* ipad 
           */


  @media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)  { 



.image-text p{
	margin-left: 100px;
	width: 86%;
	height: auto;
}

.image-group img{
	width: 100%;
	height: auto;
}


}


/* ----------- Galaxy S4, S5 and Note 3 ----------- */

/* Portrait and Landscape */

 @media only screen 
and (min-device-width : 360px) 
and (max-device-width : 640px) 
  and (-webkit-device-pixel-ratio: 3) {

    #header-bt-img{

margin-left: -80px;
    }

    .image-group img{


 
  }

}         

/* ----------- iPhone 5, 5S, 5C and 5SE ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {


    #header-bt-img{



}