.after {
  position: absolute;
  content: " ";
  display: block;
  left: 0;
  top: 0;
}

.pink {
  color: #DD127C;
}

.dark-pink {
  color: #7f063a;
}

.purple {
  color: #352b7f;
}

.purple-light {
  color: #48418b;
}

.orange {
  color: #F9AF6B;
}

.orange-dark {
  color: #c25b00;
}

.blue {
  color: #1c6a94;
}

.merun {
  color: #6B7100;
}

html,
body {
  height: 100%;
  font-size: 22px;
  position: relative;
  font-family: "Gamja Flower", cursive;
}

html {
  overflow-y: scroll;
}

body {
  min-width: 100px;
  line-height: 1.3;
  font-weight: 400;
  font-style: normal;
}

a {
  cursor: pointer;
  text-decoration: none;
  font-style: normal;
}

a:hover,
a:focus,
a:active {
  text-decoration: none;
  font-style: normal;
  outline: none;
}

img {
  border: 0;
  vertical-align: middle;
}

ul,
ol {
  list-style-position: inside;
  list-style-type: none;
}

img {
  max-width: 100%;
}

h2 {
  line-height: 48px;
  font-style: normal;
  font-size: 49px;
  font-weight: 400;
  font-family: "Luckiest Guy", cursive;
}

h3 {
  line-height: 30px;
  font-style: normal;
  font-size: 31px;
  font-weight: 400;
  font-family: "Luckiest Guy", cursive;
}

h4 {
  line-height: 25px;
  font-style: normal;
  font-size: 26px;
  font-weight: 400;
  font-family: "Luckiest Guy", cursive;
}

h5 {
  line-height: 20px;
  font-style: normal;
  font-size: 21px;
  font-weight: 400;
  font-family: "Gamja Flower", cursive;
}

h6 {
  line-height: 18px;
  font-style: normal;
  font-size: 21px;
  font-weight: 400;
  font-family: "Gamja Flower", cursive;
}

p {
  font-size: 22px;
  font-weight: 400;
  font-family: "Gamja Flower", cursive;
  line-height: 1.3;
}

/* ==========================================================================
  > Custom nav
  ========================================================================== */
/* ==========================================================================
  > Comment start
  ========================================================================== */
/* ==========================================================================
  > Comment start
  ========================================================================== */

/*# sourceMappingURL=styles.css.map */
