

html,
body {
  height: 100%;
  font-size: $font-size-base;
  position: relative;
  font-family: $font-gamja;
}

html {
  overflow-y: scroll;
}
body {
  min-width: 100px;
  line-height: 1.3;
  font-weight: $font-weight-400;
  font-style: normal;
}
a {
  cursor: pointer;

  text-decoration: none;
  font-style: normal;
}
a:hover,
a:focus,
a:active {
  text-decoration: none;
  font-style: normal;
  outline: none;
}
img {
  border: 0;
  vertical-align: middle;
}
ul,
ol {
  list-style-position: inside;
  list-style-type: none;
}
img {
  max-width: 100%;
}


h2{
  line-height: 48px;
  font-style: normal;
  font-size: $font-size-48;
  font-weight: $font-weight-400;
  font-family: $font-luckiest;
}
h3 {
  line-height: 30px;
  font-style: normal;
  font-size: $font-size-30;
  font-weight: $font-weight-400;
  font-family: $font-luckiest;
}
h4 {
  line-height: 25px;
  font-style: normal;
  font-size: $font-size-25;
  font-weight: $font-weight-400;
  font-family: $font-luckiest;
}
h5 {
  line-height: 20px;
  font-style: normal;
  font-size: $font-size-20;
  font-weight: $font-weight-400;
  font-family:  $font-gamja;
}
h6 {
  line-height: 18px;
  font-style: normal;
  font-size: $font-size-20;
  font-weight: $font-weight-400;
  font-family: $font-gamja;//regular
}
p{
  font-size: $font-size-base;
  font-weight: $font-weight-400;
  font-family: $font-gamja;
  line-height: 1.3;
}

/* ==========================================================================
  > Custom nav
  ========================================================================== */
